<ion-view view-title="{{title}}" ng-cloak>
  <ion-content  ng-cloak>

    <div class="n-bg">
      <div class="h-slide">

        <div style="background: url(img/layer.jpg)" ng-if="title == 'layers'" class="p-main-im"></div>
        <div style="background: url('img/broiler.jpg')" ng-if="title == 'broilers'" class="p-main-im"></div>
        <div style="background: url('img/parents.jpg')" ng-if="title == 'parents'" class="p-main-im"></div>
        
        <div class="overlay-home" style="height: 233px;"></div>
        <!-- <div class="pname-home">
          <p>{{title}}</p>
        </div> -->
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('poultryanatomy')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                POULTRY ANATOMY
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('vac')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                VACCINATION
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('normalmedication')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                NORMAL MEDICATION
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('disease')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                DISEASE
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('spacecalculator')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                SPACE CALCULATOR
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('lightmanagement')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                LIGHT MANAGEMENT
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('fwm')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                FEEDER AND WATER MANAGEMENT
              </div>
            </div>
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>