<ion-view view-title="Business Directory">
    <ion-content  ng-cloak>
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        
        <div class="row">
            <div class="col">

                <p>Select appropriate business dirrectory.</p>

                <ion-tabs class="tabs-icon-top h-tabs">
                    <ion-tab  ng-repeat="tab in tabs" 
                              title="{{::tab.title}}" 
                              icon-on="{{::tab.iconOn}}" 
                              icon-off="{{::tab.iconOff}}"
                              ng-click="tabSelected(tab, $index)"
                              id="tab{{$index}}">
                    </ion-tab>
                </ion-tabs>

            </div>
        </div>

        <div class="row fluid">
            <div class="col fluid">
                <div ng-include src="selectedTab.url"></div>
            </div>
        </div>
        
    </ion-content>
</ion-view>
