<ion-view view-title="{{title}} Detail">
    <ion-content  ng-cloak>
        <div class="row">
            <div class="col n-container" ng-if="item.id != undefined || item.id != null">
                <h4>{{item.title}}</h4>
                <p><i class="icon ion-ios-calendar-outline"></i>{{item.date | removeTime}}</p>
                <p ng-bind-html="item.content"></p>
            </div>
        </div>
    </ion-content>
</ion-view>
