<ion-view view-title="Farm Help Desk">
    <ion-content  ng-cloak>

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        
        <div ng-show="item.content == undefined">
            <div class="min-ht">
                <div class="i-table">
                    <div class="table-cell">
                        <ion-spinner icon="ripple"></ion-spinner>  
                    </div>
                </div>
            </div>
            <p><center>{{error}}</center></p>
        </div>
        
        <div class="row">
            <div class="col w-container awu">
                <!-- <p ng-bind-html="item.date"></p>
                <p ng-bind-html="item.content"></p> -->

                <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
                    <iframe data-tap-disabled="true" src="https://tawk.to/farmNepal"></iframe>
                </ion-content>

            </div>
        </div>
        
    </ion-content>
</ion-view>