<ion-view view-title="Home" ng-cloak>
  <ion-content  ng-cloak>

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div ng-show="items.length == 0">
      <div class="min-ht">
        <div class="i-table">
            <div class="table-cell">
                <ion-spinner icon="ripple"></ion-spinner>  
            </div>
        </div>
      </div>
      <p><center>{{error}}</center></p>
    </div>

    <div ng-if="items.length > 0">
      <ion-slides class="h-slide" options="swiperOptions" slider="data.slider">
        <ion-slide-page ng-repeat="sliderProduct in items track by $index" ng-if="$index < 5" ng-click="getItem(sliderProduct)">
            <div style="background: url({{sliderProduct.featured_image_full}})" class="p-main-im"></div>
            <div class="overlay-home"></div>
            <div class="pname-home">
              <p>{{sliderProduct.title}}</p>
            </div>
        </ion-slide-page>
      </ion-slides>

      <div class="row">
          <div class="col" ng-click="goToUrl('news')">
            <div class="card fluid bar-lcolor  button-raised">
              <div class="item item-text-wrap center n-color">
                NEWS
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('publication')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                PUBLICATIONS
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('farmhelpdesk')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                FARMER HELP DESK
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('market')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                MARKET
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('poultrybasic')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                POULTRY BASICS
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('likefbpage')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                FB LIKE
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('callus')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                CONTACTS
              </div>
            </div>
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>