<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-header bar-hh header">
      <ion-nav-back-button class="header-m"></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon header-m" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar> -->
    <ion-content>
      <div class="ap-header">
        <!-- <div class="overlay-home" style="left: 0;"></div> -->
        <img src="img/ionic.png" class="avatar motion spin fade">
        <p class="m-slogan">A global poultry portal from Nepal</p>
      </div>

      <ion-list>
        <ion-item menu-close href="#/app/login">
          <i class="icon ion-home m-icon"></i>HOME
        </ion-item>
        <ion-item menu-close href="#/app/pdl">
          <i class="icon ion-clipboard m-icon"></i>PDL
        </ion-item>
        <ion-item menu-close href="#/app/businessdirectory">
          <i class="icon ion-folder m-icon"></i>BUSINESS DIRECTORY
        </ion-item>
        <ion-item menu-close href="#/app/poultrystatistics">
          <i class="icon ion-stats-bars m-icon"></i>POULTRY STATISTICS
        </ion-item>
        <ion-item menu-close id="home" href="#/app/messagefromfarm">
          <i class="icon ion-chatbubble m-icon"></i>MESSAGE FROM FARM
        </ion-item>
        <hr>
        <ion-item menu-close href="#/app/whoweare">
          <i class="icon ion-person-stalker m-icon"></i>WHO WE ARE
        </ion-item>
        <!-- <ion-item menu-close href="#/app/communicate">
          <i class="icon ion-chatbubble-working m-icon"></i>COMMUNICATE
        </ion-item> -->
        <ion-item menu-close href="#/app/advertisewithus">
          <i class="icon ion-person-add m-icon"></i>ADVERTISE WITH US
        </ion-item>
        <ion-item menu-close href="#/app/writetous">
          <i class="icon ion-compose m-icon"></i>WRITE TO US
        </ion-item>
        <ion-item menu-close href="#/app/callus">
          <i class="icon ion-android-call m-icon"></i>CALL US
        </ion-item>
        <ion-item menu-close ng-click="openLink()">
          <i class="icon ion-thumbsup m-icon"></i>LIKE OUR FB PAGE
        </ion-item>
        <hr>
        <ion-item menu-close ng-click="exitApp()">
          <i class="icon ion-log-out m-icon"></i>EXIT
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>