<ion-view view-title="News">
    <ion-content  ng-cloak>

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <div ng-show="news.length == 0">
          <div class="min-ht">
            <div class="i-table">
                <div class="table-cell">
                    <ion-spinner icon="ripple"></ion-spinner>  
                </div>
            </div>
          </div>
          <p><center>{{error}}</center></p>
        </div>

        <div ng-if="news.length > 0">
          <ion-slides class="h-slide" options="swiperOptions" slider="data.slider">
            <ion-slide-page ng-repeat="headlines in news track by $index" ng-if="$index < 6 && headlines.status == 'publish'" ng-click="getProduct(sliderProduct)">
                <div style="background: url({{headlines.featured_image_full}})" class="p-main-im"></div>
                <div class="overlay-home"></div>
                <div class="pname-home">
                  <p>{{headlines.title}}</p>
                </div>
            </ion-slide-page>
          </ion-slides>
        </div>

        <div class="row-fluid" ng-show="news.length > 0">
            <div class="col-fluid">

                <div class="row" ng-repeat = "headlines in news track by $index" ng-if="headlines.status == 'publish'">
                    <div class="col" ng-click="goToUrl(headlines)">
                      <div class="card fluid c-shadow">
                        <div class="item item-text-wrap">
                          <h1>{{headlines.title}}</h1>
                          <p style="margin-top: 7px;">{{headlines.excerpt | removeHTMLTags | removeReadmore}}</p>
                          <p class=""><i class="icon ion-ios-calendar-outline n-date"></i>{{headlines.date | removeTime}}</p>
                        </div>
                      </div>
                    </div>
                </div>

                <ion-infinite-scroll ng-if="moreNewsCanBeLoaded" spinner="ripple" on-infinite="loadMoreNews()" distance="1%"></ion-infinite-scroll>

            </div>
        </div>

    </ion-content>
</ion-view>
