<ion-view view-title="Poultry Statistics">
    <ion-content  ng-cloak>
        <div class="row">
            <div class="col">
                <h4>Poultry Statistics</h4>

            </div>
        </div>
    </ion-content>
</ion-view>
