<ion-view view-title="Poultry Basics" ng-cloak>
  <ion-content  ng-cloak>
    <div class="n-bg">

      <div class="h-slide">
        <div style="background: url('img/pul-basic.jpg')" class="p-main-im"></div>
        <div class="overlay-home" style="height: 233px;"></div>
        <!-- <div class="">
          <p>Poultry Basics</p>
        </div> -->
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('broilers')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                BROILERS
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('layers')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                LAYERS
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('parents')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                PARENTS
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('management')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                MANAGEMENT
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('farmhelpdesk')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                FARMER HELP DESK
              </div>
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col" ng-click="goToUrl('market')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                MARKET
              </div>
            </div>
          </div>

          <div class="col" ng-click="goToUrl('likefbpage')">
            <div class="card fluid bar-lcolor button-raised">
              <div class="item item-text-wrap center n-color">
                FB LIKE
              </div>
            </div>
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>