<ion-view view-title="Publications">
    <ion-content  ng-cloak>

        <div class="n-bg">
            <div class="h-slide">
                <div style="background: url('img/pub.jpg')" class="p-main-im"></div>
                <div class="overlay-home" style="height: 233px;"></div>
            </div>

            <div class="row">
                <div class="col" ng-click="goToUrl('technical')">
                    <div class="card fluid bar-lcolor button-raised">
                        <div class="item item-text-wrap center n-color">
                            TECHNICAL
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col" ng-click="goToUrl('research')">
                    <div class="card fluid bar-lcolor button-raised">
                        <div class="item item-text-wrap center n-color">
                            RESEARCH
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col" ng-click="goToUrl('student')">
                    <div class="card fluid bar-lcolor button-raised">
                        <div class="item item-text-wrap center n-color">
                            STUDENT
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </ion-content>
</ion-view>