<ion-view view-title="Who We Are">
	<ion-content  ng-cloak>
		<ion-refresher on-refresh="doRefresh()"></ion-refresher>
		
		<div ng-show="whoweare.content == undefined">
			<div class="min-ht">
				<div class="i-table">
					<div class="table-cell">
						<ion-spinner icon="ripple"></ion-spinner>  
					</div>
				</div>
			</div>
			<p><center>{{error}}</center></p>
		</div>

		<div class="row" ng-if="whoweare.content != null">
			<div class="col w-container">
				<p ng-bind-html="whoweare.content"></p>
			</div>
		</div>
	</ion-content>
</ion-view>
