<ion-view view-title="Write to Us">
    <ion-content  ng-cloak>
        <div class="row">
            <div class="col">
                <div class="list">

                	<form ng-submit="sendEmail(mail)" validate>
                		<label class="item item-input item-floating-label">
	                        <span class="input-label">Name</span>
	                        <input type="text" placeholder="Name" ng-model="mail.name" required>
	                    </label>

	                    <label class="item item-input item-floating-label">
	                        <span class="input-label">Email</span>
	                        <input type="email" placeholder="Email Address" ng-model="mail.email" required>
	                    </label>

	                    <label class="item item-input item-floating-label">
	                        <span class="input-label">Phone</span>
	                        <input type="number" placeholder="Phone Number" ng-model="mail.phone" required>
	                    </label>

	                    <br/>

	                    <label class="item item-input item-select">
	                    	<div class="input-label">
	                    		Nature of Enquiry
	                    	</div>
	                    	<select ng-model="mail.enquiry">
	                    		<option selected>General Enquiry</option>
	                    		<option>Vet Helpline</option>
	                    		<option>Advertisement</option>
	                    	</select>
	                    </label>

	                    <label class="item item-input item-floating-label">
	                        <span class="input-label">Message Body</span>
	                        <textarea placeholder="Message" ng-model="mail.message" class="n-textar" required></textarea>
	                    </label>

	                    <br/>

	                    <input type="submit" class="button button-block button-raised btn-lcolor" data-ink-color="#704594" data-ink-opacity="1" value="SEND">
                	</form>
                
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
