/* Empty. Add your own CSS if you like */
.w-100 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.w-75 {
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.w-60 {
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.w-50 {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.w-40 {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.box-shadow {
  box-shadow: 0px 0px 2px #000;
}

.color-a2 {
  color: #a2a2a2;
}

.w-25 {
  width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  white-space: normal !important;
}

.fluid {
    margin: 0;
    padding: 0;
}

.fluid-left {
    padding-left: 0;
}

.fluid-right {
    padding-right: 0;
}

#desc img {
  max-width: 100% !important;
}

.h-slide {
    height: 233px;
}

.title-left-10 {
  left: 10px !important;
  text-align: left !important;
}

.back-text {
  display: none !important;
}

.app-back {
  color: #000 !important;
}

.ap-header {
    height: 150px;
    position: relative;
    padding: 20px;
    background: #f8f8f8;
    box-shadow: 0px 0px 5px #111;
}

.m-slogan {
    position: absolute;
    top: 82%;
}

.m-icon {
    font-size: 19px;
    top: 2px;
    position: relative;
    margin-right: 10px;
}

.h-tabs {
    position: relative;
    padding: 0;
    display: block;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;    
}

.h-tabs .tabs {
    bottom: initial;
    position: relative;
    top: initial !important;
}

/* Animation for ng-hide */
.item-animate.ng-hide {
    height: 0;
    opacity: 0;
    padding: 0;
}

.item-animate.ng-hide-remove, .item-animate.ng-hide-add {
    display: block !important;
    transition: all linear 300ms;
}

.item-animate.ng-show {
    height: 0;
    opacity: 0;
    padding: 0;
}

.item-animate.ng-show-remove, .item-animate.ng-show-add {
    display: block !important;
    transition: all linear 300ms;
}

/* End */

.p-item {
    display:inline-block;
}

.p-item p {
    margin: 0 0 2px;
}

.p-title {
    font-weight: bold;
}

.p-old {
    text-decoration: line-through;
}

#scrollX {
    display: inline-flex;
    white-space: nowrap;
}

#scrollX::-webkit-scrollbar { 
    display: none; 
}

.item-container {
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  padding: 36px 0 0 0;
  position: relative;
  width: 100%;
}
.list-sticky .item-divider {
  bottom: auto;
  left: 0;
  line-height: 20px;
  min-height: 1px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.item-sticky{
  top:2px !important;
}

.h-btn {
    color: #000 !important;
}

.h-badge {
    position: absolute !important;
    font-size: 10px;
    padding: 1px 6px !important;
    top: 2px !important;
    right: 5px;
}

.list-bor {
    box-shadow: 0px 0px 2px #aaaaaa;
}

#products .item {
  padding-bottom: 0 !important; 
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-lr-10 {
  padding: 0 10px 0 10px;
}

.l-btn {
    padding: 0 !important;
    margin: 0 !important;
    text-align: right;
    font-size: 12px;
    top: 0;
}

.crt-btn {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    font-size: 12px;
    top: 0;
    border-radius: 50%;
    min-height: 50px !important;
    min-width: 50px !important;
    margin-right: 15px !important;
    margin-bottom: 10px !important;
}

.c-btn {
   margin: 0 0 10px 0 !important;
}

ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 1px 2px;
}

ul.rating li i {
    font-size: 28px;
}

.slide-tab {
    background: #009688;
    color: #fdfdfd;
    padding: 10px;
}

.slide-cont {
  padding: 10px;
}

.i-pos-r {
  float: right;
  right: 10px;
}

.min-ht {
  min-height: 100px;
  height: 100%;
  position: relative;
}

.i-table {
  display: table;
  width: 100%;
  height: 100px;
}

.p-table {
  display: table;
  width: 100%;
  height: 233px;
}

.i-table-cell {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#tablespec table {
  width: 100% !important;
  height: 100% !important;
}

#tablespec .bold {
  font-weight: 400 !important;
}

#tablespec td {
    border: 1px solid rgba(0,0,0,.26);
    padding: 5px 10px;
}

.review-form {
    /*border: 1px solid #9E9E9E;
    border-radius: 4px;
    box-shadow: 0 0 1px #9E9E9E;*/
    position: relative;
    margin-top: 10px;
    padding: 5px 10px;
}

.rv-p {
    margin: 0px 0 10px -5px;
}

.rv-txt {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    box-shadow: 0 0 1px #9E9E9E;
    min-height: 100px;
    padding: 5px 10px;
}

.rv-im {
  width: 40px !important;
}

.rv-rv {
  padding: 0 10px 0 10px !important;
}

p.rt {
    margin: 0;
}

.rv-list ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 2px 1px;
}

.rv-list .tm {
    margin: 0 !important;
    font-size: 10px;
}

.crt-rm {
  background: red !important;
}

.sb-right {
    position: absolute;
    right: 10px;
    margin-right: -10px;
}

.search-b {
    width: 86%;
    top: 5px;
    background: rgb(221, 221, 221);
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0px 10px;
    position: relative;
}

.acc-ed {
    float: right;
    right: 5px;
    position: relative;
    font-weight: 300;
    font-size: 15px;
    top: -10px;
}

.item-divider.item-hidden {
  visibility: hidden;
}
.item-container.item-animated .item-divider {
  bottom: 0;
  top: auto;
}

#chk .item {
    border-color: #ddd;
    margin: -1px 0px -1px 0;
    border-width: 1px;
    border-style: solid;
}

.bg {
    background: url(../img/bg.jpg);
    position: absolute;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position-x: 50%;
    background-position-y: 50%;*/
}

.overlay {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.7;
}

.btm-p {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #fdfdfd;
    bottom: 0px;
}

.i-err {
    position: absolute;
    margin: 12px 0;
    text-align: center;
    left: 0;
    right: 0;
    color: #F44336;
}

.cat {
    margin: 8px 0px 10px !important;
    min-height: 150px;
    color: #000;
}

.cat-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #3F51B5;
    overflow: hidden;
    top: 97%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.i-table-cat {
    display: table;
    width: 100%;
    min-height: 150px;
    height: 100%;
}

.prod {
    margin: 5px 0px 5px !important;
    min-height: 250px;
    color: #000;
}

.prod-img {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 250px;
    width: 100%;
    position: absolute;
}

.prod-overlay {
    height: 250px;
    width: 100%;
    position: absolute;
    background: #000;
    opacity: 0.2;
}

.card-pad {
  padding-left: 5px;
  padding-right: 5px;
}

.i-table-prod {
  display: table;
  min-height: 215px;
  width: 100%;
  height: 100%;
}

.prod-btn {
    padding: 0 !important;
    margin: 0 3px !important;
    min-height: 45px !important;
    min-width: 45px !important;
    height: 45px !important;
    width: 45px !important;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}

.prod-h {
    position: absolute;
    top: 0px;
    color: #fdfdfd;
    height: 35px;
    overflow: hidden;
}

.prod-f {
    position: absolute;
    bottom: 0px;
    color: #fdfdfd;
    height: 30px;
    overflow: hidden;
}

.overlay-tf {
    height: 35px;
    background: #111;
    position: absolute;
    width: 100%;
    opacity: 0.6;
}

.prod-p {
    padding: 5px;
    color: #ddd;
    overflow: hidden;
    left: 10px;
    position: relative;
    top: 2px;
    white-space: nowrap;
    width: 90%;
}

.pr {
    text-align: center;
    font-size: 19px;
    left: 0;
    top: 0;
}

.p-main-im {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 100%;
    width: 100%;
}

.col-r {
    padding-right: 15px;
    border-right: 1px solid rgba(0,0,0,.26);
}

.col-l {
    padding-left: 15px;
    border-left: 1px solid rgba(0,0,0,.26);
}

.p-dd {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: left;
}

.home-pro {
    width: 122px;
    height: 122px;
}

.home-im {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.h-card {
    display: inline-block;
    margin: 5px 3px !important;
    width: 132px;
    height: 205px;
    overflow: hidden;
    background: #fafafa;
}

.h-item {
    padding: 5px !important;
    border-radius: 4px;
}

.h-item p {
  margin: 0;
  height: 40px;
  overflow: hidden;
}

.p-new {
    font-size: 14px;
    position: relative;
    top: 2px;
    height: 20px;
    overflow: hidden;
    float: left;
}

.h-lay {
    height: 67px;
    width: 98%;
    overflow: hidden;
    background: #000;
    position: absolute;
    opacity: 0.4;
    margin-left: -3px;
}

.overlay-home {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background: #000;
    opacity: 0.3;
}

.pname-home {
    position: absolute;
    background: rgba(0,0,0,.50);
    top: 0px;
    width: 100%;
}

.pname-home p {
    margin: 5px 10px;
    font-size: 14px;
    color: #f8f8f8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.overlay-hp {
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background: #000;
    opacity: 0.3;
    border-radius: 4px;
    top: 4px;
    left: 4px;
}

.wh-list {
    position: absolute;
    right: 2px;
    z-index: 9;
}

.p-bg {
    background: url(../img/product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 233px;
    width: 100%;
    position: absolute;
}

.p-overlay {
    background: #000;
    opacity: 0.4;
    height: 233px;
    width: 100%;
    position: absolute; 
}

.spn {
    font-size: 28px;
    color: #ccc;
}

.cart-im {
    min-height: 110px;
    height: 100%;
}

.overlay-crt {
    background: #000;
    min-height: 110px;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.item h1 {
    margin: 0 0 2px 0;
    font-size: 20px;
    font-weight: normal;
}

.cart-item h3 {
    font-size: 23px;
    font-weight: 400;
}

.cart-item h4 {
    font-size: 15px;
    font-weight: 400;
}

.crt-btndiv {
    position: absolute;
    right: 10px;
    bottom: 3px;
}

.i-content {
    padding: 16px 16px 16px 16px !important;
}

.menu-h {
    position: absolute;
    bottom: 10px;
    color: #fdfdfd;
    width: 100%;
    background: #f8f8f8;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0px 5px #ddd;
}

.menu-h h5 {
    margin: 0 0 5px 0 !important;
    font-size: 15px !important;
}

.button-ex {
    color: #F44336 !important;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 10px;
}

.item-thumbnail-left .item-content .item-image, .item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image, .item-thumbnail-left>img:first-child {
     border-radius: 0% !important; 
}

.loading {
  background-color: transparent !important;
}

.form-l h1 {
    color: #fff;
    text-transform: uppercase;
}

.menu-badge {
    float: right;
    font-weight: 600;
    position: absolute;
    right: 15px;
    margin-top: 5px;
}

.menu-red {
  color: red;
}

.popup-container .popup {
    width: 300px !important;
}

ion-infinite-scroll:not(.active) .spinner,
ion-infinite-scroll:not(.active) .icon:before {
    display: inline-block !important;
}

/**/
.center {
  text-align: center;
}
.n-container h1, .n-container h2, .n-container h3, .n-container h4, .n-container h5, .n-container h6 , .vc_custom_heading{
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #714593;
}

.w-container h1, .w-container h2, .w-container h4, .w-container h5, .w-container h6 {
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #714593;
}

.wwr_team h3, .wwr_team p strong {
  font-size: 14px;
  text-align: center;
  display: block;
  color: #714593;
}

.wwr_team img {
    width: 90% !important;
    height: auto !important;
    margin: 0 auto !important;
    display: block;
}

.wwr_team {
    width: 50%;
    float: left;
}

.wwr_team:nth-child(2n+1) {
    overflow: hidden;
    clear: both;
}

.n-container img {
    max-width: 100% !important;
    width:  100% !important;
    height: auto !important;
}

.n-container p i, .n-date {
  padding-right: 10px;
  font-size: 16px;
}

.mff img {
    text-align: center;
    width: 50%;
    height: auto;
    float: left;
}

.pdl .size-full, .awu .vc_single_image-img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}

.awu {

}

.w-container ul li {
    margin-left: 20px;
}
.w-container ul {
    list-style: square;
}

.awu .vc_column-inner  {
    margin-top: 10px;
}

.awu .vc_custom_heading {
  text-align: center;
}

.awu .vc_custom_heading a {
  text-decoration: none;
  color: #714593;
}

.awu .vc_general {
    box-shadow: 0px 0px 2px #aaaaaa;
    padding: 10px;
    background: #fff;
}

.awu .vc_btn3 {
    background: #58B9DA;
    margin: 0 auto;
    width: 145px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.d-cont {
    position: relative;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.menu .avatar {
    top: 16px;
    left: 0px !important;
    height: auto !important;
    width: 80% !important;
}

.iframe-wrapper iframe {
   width: 100%;
   height: 100%;

 }

.n-bg {
    height: 100%;
    width: 100%;
    background-color: #fdfdfd !important;
}

.awu img {
    max-width: 100% !important;
    height: auto !important;
}

.mar tr:first-child td {
    background: #2196F3;
    padding: 10px 5px;
    color: #fff;
    box-shadow: 1px 2px 1px #b2b2b2;
}

.mar  tr, th {
    border: none !important;
}

.mar  td {
    border: 1px solid #000;
    padding: 5px;
}

.n-color {
  color: #fff !important;
}

.c-shadow {
  box-shadow: 0 2px 5px 0 rgba(136, 106, 234, 0.52) !important;
}

.platform-android .header {
    height: 56px !important;
}

.platform-android .header .header-item {
    margin: 6px 0 !important;
}

.platform-android .has-header {
    top: 56px;
}

.bar-hh {
    background: #704594 !important;
    color: #f8f8f8;
}

.bar-lcolor {
    background: #4c2f65 !important;
    color: #f8f8f8;
}

.n-textar {
    height: 150px;
    width: 100%;
    overflow-y: scroll;
}

.btn-sub {
  background: rgba(112, 69, 148, 0.68);
  color: #fdfdfd;
}

.btn-sub:hover {
  color: #fdfdfd;
}

.btn-lcolor {
  background: #4c2f65 !important;
  color: #fdfdfd;
}

.btn-lcolor:hover {
  color: #fdfdfd;
}

/*body.platform-ios {
    padding-top: 20px !important;
}

body.platform-android {
    padding-top: 24px !important;
}*/